
@model  IEnumerable<WSite_ShowRoom_CtyThoiTrang.Models.tb_OrderDetail>
@if (Model != null && Model.Any())
{
    
    <div class="table-responsive shopping-cart">
        <table class="table">
            <thead>
                <tr>
                    <th>Tên sản phẩm</th>
                    <th class="text-center">Số lượng</th>
                    <th class="text-center">Giá tiền</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                { 
                    <tr>
                        <td>
                            <div class="product-item">
                                <img src="@item.tb_Products.Image" class="img-cart">
                                <div class="product-info">
                                    <h4 class="product-title"><a href="#">@item.tb_Products.Title</a></h4><span><em>Size:</em> 10.5</span><span><em>Color:</em></span>
                                </div>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="count-input">
                                @item.Quantity
                            </div>
                        </td>
                        <td class="text-center text-lg text-medium">@WSite_ShowRoom_CtyThoiTrang.Common.Common.FormatNumber(item.Price) đ</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
   
}
