
@{
    ViewBag.Title = "Bán hàng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutSeller.cshtml";
}




<section class="content">
    <p>thuan</p>
    <!-- Default box -->
    <div class="row">
    <div class="col-7">
        <div class="bg-black">
            <p>thuan</p>
        </div>
    </div>
    <div class="col-5">
        <div class="bg-blue"> 
        @Html.Action("Partail_AllProduct", "Seller")
        <p>thuan</p></div>
    </div>
    </div>

</section>
