@model WSite_ShowRoom_CtyThoiTrang.Models.tb_Products
@{
    ViewBag.Title = "AddProductDetail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>AddProductDetail</h2>

<p>@Model.ProductId</p>
@Html.Action("Partial_AddProductDetail", "Product", new { id = Model.ProductId })